<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title if title else "Flask Web App" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('esp32') }}">ESP32</a>
        <a href="{{ url_for('add_data') }}">Add Data</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
